{template "content","myheader"}
{template "content","nav"}
<section>
    <ul id="news">
        <li class="newsTile">
            <a href="#">临汾方圆建设监理有限公司的网站正式建成！</a>
        </li>
        <li class="newsTile"><a href="#">地方监理秘书长及注册机构负责同志座谈会在并顺利
        </a></li>
        <li class="newsTile"><a href="#">协会召开山西建设监理网站建设推进会
        </a></li>
        <li class="newsTile"><a href="#">唐桂莲同志当选中监协五届理事会副会长
        </a></li>
        <li class="newsTile"><a href="#">强化服务意识 助推行业发展 ——山西省建设监理协
            </a></li>
        <li class="newsTile"><a href="#">协会召开2013年迎新春培训教育座谈会
        </a></li>
    </ul>
</section>
<footer>
    <p>临汾方圆建设监理有限公司</p>
    <p>晋ICP备13005861号-1</p>
</footer>
</body>
</html>