{template "content","myheader"}
{template "content","nav"}
<section>
    <div id="news">
        <div class="news2" id="">
            <a href="/plus/view.php?aid=77">
                 <div class="news2_1">
                    <div class="new2_1_12">
                        世纪百悦购物中心
                    </div>
                </div>
            </a>
            <div class="clearline"></div><a href="/plus/view.php?aid=76">
             <div class="news2_1">
                <div class="new2_1_12">
                    侯马一中
                </div>
            </div>
        </a>
            <div class="clearline"></div><a href="/plus/view.php?aid=75">
             <div class="news2_1">
                <div class="new2_1_12">
                    博浩源馨城3#楼
                </div>
            </div>
        </a>
            <div class="clearline"></div><a href="/plus/view.php?aid=74">
             <div class="news2_1">
                <div class="new2_1_12">
                    乡宁新一中
                </div>
            </div>
        </a>
            <div class="clearline"></div><a href="/plus/view.php?aid=73">
             <div class="news2_1">
                <div class="new2_1_12">
                    乡宁新城区幼儿园
                </div>
            </div>
        </a>
            <div class="clearline"></div><a href="/plus/view.php?aid=72">
             <div class="news2_1">
                <div class="new2_1_12">
                    蒲县全民健康活动中心
                </div>
            </div>
        </a>
            <div class="clearline"></div><a href="/plus/view.php?aid=71">
             <div class="news2_1">
                <div class="new2_1_12">
                    临汾新医院报告厅、疾病感染楼
                </div>
            </div>
        </a>
            <div class="clearline"></div><a href="/plus/view.php?aid=70">
             <div class="news2_1">
                <div class="new2_1_12">
                    隰县奥体中心
                </div>
            </div>
        </a>
            <div class="clearline"></div><a href="/plus/view.php?aid=3">
             <div class="news2_1">
                <div class="new2_1_12">
                    机场大道及绿化
                </div>
            </div>
        </a>
            <div class="clearline"></div><a href="/plus/view.php?aid=69">
             <div class="news2_1">
                <div class="new2_1_12">
                    乡宁营里大桥
                </div>
            </div>
        </a>
            <div class="clearline"></div><a href="/plus/view.php?aid=68">
             <div class="news2_1">
                <div class="new2_1_12">
                    霍东大道
                </div>
            </div>
        </a>
            <div class="clearline"></div><a href="/plus/view.php?aid=9">
             <div class="news2_1">
                <div class="new2_1_12">
                    鼓楼广场改造后的全景
                </div>
            </div>
        </a>
            <div class="clearline"></div><a href="/plus/view.php?aid=8">
             <div class="news2_1">
                <div class="new2_1_12">
                    古城公园
                </div>
            </div>
        </a>
            <div class="clearline"></div><a href="/plus/view.php?aid=52">
             <div class="news2_1">
                <div class="new2_1_12">
                    曲沃晋都文化中心
                </div>
            </div>
        </a>
            <div class="clearline"></div><a href="/plus/view.php?aid=51">
             <div class="news2_1">
                <div class="new2_1_12">
                    临汾新医院行政科研楼
                </div>
            </div>
        </a>
            <div class="clearline"></div><a href="/plus/view.php?aid=21">
             <div class="news2_1">
                <div class="new2_1_12">
                    乡宁新高中
                </div>
            </div>
        </a>
            <div class="clearline"></div><a href="/plus/view.php?aid=20">
             <div class="news2_1">
                <div class="new2_1_12">
                    临汾新医院附属工程
                </div>
            </div>
        </a>
            <div class="clearline"></div><a href="/plus/view.php?aid=19">
             <div class="news2_1">
                <div class="new2_1_12">
                    侯马新一中
                </div>
            </div>
        </a>
            <div class="clearline"></div><a href="/plus/view.php?aid=18">
             <div class="news2_1">
                <div class="new2_1_12">
                    世纪百悦
                </div>
            </div>
        </a>
            <div class="clearline"></div><a href="/plus/view.php?aid=17">
             <div class="news2_1">
                <div class="new2_1_12">
                    干休所功臣小区
                </div>
            </div>
        </a>
            <div class="clearline"></div><a href="/plus/view.php?aid=16">
             <div class="news2_1">
                <div class="new2_1_12">
                    安泽武装部工地
                </div>
            </div>
        </a>
            <div class="clearline"></div><a href="/plus/view.php?aid=15">
             <div class="news2_1">
                <div class="new2_1_12">
                    站北春苑施工现场
                </div>
            </div>
        </a>
            <div class="clearline"></div><a href="/plus/view.php?aid=14">
             <div class="news2_1">
                <div class="new2_1_12">
                    修复后的古城墙
                </div>
            </div>
        </a>
            <div class="clearline"></div><a href="/plus/view.php?aid=13">
             <div class="news2_1">
                <div class="new2_1_12">
                    乡宁明珠广场
                </div>
            </div>
        </a>
            <div class="clearline"></div><a href="/plus/view.php?aid=12">
             <div class="news2_1">
                <div class="new2_1_12">
                    石雕鼓舞
                </div>
            </div>
        </a>
            <div class="clearline"></div><a href="/plus/view.php?aid=11">
             <div class="news2_1">
                <div class="new2_1_12">
                    临汾新高中教学楼
                </div>
            </div>
        </a>
            <div class="clearline"></div><a href="/plus/view.php?aid=10">
             <div class="news2_1">
                <div class="new2_1_12">
                    监理人员检测桩机
                </div>
            </div>
        </a>
            <div class="clearline"></div><a href="/plus/view.php?aid=7">
             <div class="news2_1">
                <div class="new2_1_12">
                    城东一号还迁小区
                </div>
            </div>
        </a>
            <div class="clearline"></div><a href="/plus/view.php?aid=6">
             <div class="news2_1">
                <div class="new2_1_12">
                    西关桥西延工程
                </div>
            </div>
        </a>
            <div class="clearline"></div><a href="/plus/view.php?aid=5">
             <div class="news2_1">
                <div class="new2_1_12">
                    临汾新医院室外
                </div>
            </div>
        </a>
            <div class="clearline"></div><a href="/plus/view.php?aid=4">
             <div class="news2_1">
                <div class="new2_1_12">
                    铁路经济适用房
                </div>
            </div>
        </a>
            <div class="clearline"></div><a href="/plus/view.php?aid=2">
             <div class="news2_1">
                <div class="new2_1_12">
                    蒲县劳动大厦
                </div>
            </div>
        </a>
            <div class="clearline"></div><a href="/plus/view.php?aid=1">
             <div class="news2_1">
                <div class="new2_1_12">
                    吉县垃圾填埋区
                </div>
            </div>
        </a>
            <div class="clearline"></div>
        </div>
    </div>
</section>
<footer>
    <p>临汾方圆建设监理有限公司</p>
    <p>晋ICP备13005861号-1</p>
</footer>
</body>
</html>