{template "content","myheader"}
<!-- main -->
<div id="main">
	<div class="ab-banner">
		<div class="zy-banner"></div>
	</div>
	<div class="box contaninor">
	
	<div class="body-left">
	<ul>        	
		<li><a href="index.php?p=productslist&amp;c_id=59&amp;lanmu=2">2014春夏款</a>        		
        </li>
    </ul>
	</div>
	<div id="body_right">
    	<!--top-->
        <div class="title">
        	<span>产品展示<em>PRODUCTS</em></span>
            <em><a href="index.php">首页</a> &gt; 产品展示</em>
        </div>
        <!--topEnd-->
        <!--con-->
        <div class="Products_list">
        	<ul>
            	<li>
                	<a href="index.php?p=productsshow&amp;id=238&amp;lanmu=2"><img src="image/20140326110155_61171.jpg"></a>
                    <p><a href="index.php?p=productsshow&amp;id=238&amp;lanmu=2">54M12-15</a></p>
                </li>
               <li>
                	<a href="index.php?p=productsshow&amp;id=237&amp;lanmu=2"><img src="image/20140326110155_78055.jpg"></a>
                    <p><a href="index.php?p=productsshow&amp;id=237&amp;lanmu=2">54M12-18</a></p>
                </li>
                                <li>
                	<a href="index.php?p=productsshow&amp;id=236&amp;lanmu=2"><img src="image/20140326110154_35350.jpg"></a>
                    <p><a href="index.php?p=productsshow&amp;id=236&amp;lanmu=2">54M12-19</a></p>
                </li>
                                <li>
                	<a href="index.php?p=productsshow&amp;id=235&amp;lanmu=2"><img src="image/20140326110154_17841.jpg"></a>
                    <p><a href="index.php?p=productsshow&amp;id=235&amp;lanmu=2">54M12-31</a></p>
                </li>
                                <li>
                	<a href="index.php?p=productsshow&amp;id=234&amp;lanmu=2"><img src="image/20140326110153_22546.jpg"></a>
                    <p><a href="index.php?p=productsshow&amp;id=234&amp;lanmu=2">54M12-32</a></p>
                </li>
                                <li>
                	<a href="index.php?p=productsshow&amp;id=233&amp;lanmu=2"><img src="image/20140326110153_96462.jpg"></a>
                    <p><a href="index.php?p=productsshow&amp;id=233&amp;lanmu=2">54M12-53</a></p>
                </li>
                                <li>
                	<a href="index.php?p=productsshow&amp;id=232&amp;lanmu=2"><img src="image/20140326110152_23173.jpg"></a>
                    <p><a href="index.php?p=productsshow&amp;id=232&amp;lanmu=2">54M12-38</a></p>
                </li>
                                <li>
                	<a href="index.php?p=productsshow&amp;id=231&amp;lanmu=2"><img src="image/20140326110152_55168.jpg"></a>
                    <p><a href="index.php?p=productsshow&amp;id=231&amp;lanmu=2">54M12-40</a></p>
                </li>
                                <li>
                	<a href="index.php?p=productsshow&amp;id=230&amp;lanmu=2"><img src="image/20140326110151_21315.jpg"></a>
                    <p><a href="index.php?p=productsshow&amp;id=230&amp;lanmu=2">54M12-49</a></p>
                </li>
                          		            </ul>
            <div class="clear"></div>
            <div class="page"><a class="">首页</a><a class="">上一页</a><a class="select">1</a>
			<a href="/index.php?p=productslist&amp;lanmu=2&amp;page=2">2</a>
			<a href="/index.php?p=productslist&amp;lanmu=2&amp;page=3">3</a>
			<a href="/index.php?p=productslist&amp;lanmu=2&amp;page=2">下一页</a><a href="/index.php?p=productslist&amp;lanmu=2&amp;page=3">尾页</a><a>1/3页</a><div class="clear">
			</div>
			</div>
        </div>
        <!--conEnd-->
    </div>
	</div>
</div>
<!--展示区  -->

<!-- 网页底部 -->
	<!-- <div id="footer">
		<div class="erweima"></div>
		<ul class="company-link">
			<li class="word"><a href=""></a></li>
			<li class="segmentation">|</li>
			<li class="word"><a href=""></a></li>
			<li class="segmentation">|</li>
			<li class="word"><a href=""></a></li>
			<li class="segmentation">|</li>
			<li class="word"><a href=""></a></li>
			<li class="segmentation">|</li>
			<li class="word"><a href=""></a></li>
			<li class="segmentation">|</li>
			<li class="word"><a href=""></a></li>
			<li class="segmentation">|</li>
			<li class="word"><a href=""></a></li>
			<li class="segmentation">|</li>
		</ul>
		<div class="z"></div>
	</div> -->
{template "content","myfooter"}