{template "content","myheader"}
<!-- 轮播图 -->
	<div id="banner">
		<div class="box">
			<div id="Ban_top">
	        	<ul>
	            	<li><img src="{IMG_PATH}myimg/20131224135904.jpg"></li>
	                <li style="display:none;"><img src="{IMG_PATH}myimg/20131224113507.jpg"></li>
	                <li style="display:none"><img src="{IMG_PATH}myimg/20131224113522.jpg"></li>
	            </ul>
        	</div>
        	<div id="Ban_li">
        	<ul>
            	<li class="Ban_li"></li>
                <li class=""></li>
                <li class=""></li>
            </ul>
        </div>
		</div>
	</div>
<!--展示区  -->
	<div id="introduce">
		<div class="box">
			<ul class="int">
				<li class="by1"><a href=""></a></li>
				<li class="by2"><a href=""></a></li>
				<li class="by3"><a href=""></a></li>
			</ul>
		</div>
	</div>
<!-- 网页底部 -->
	<!-- <div id="footer">
		<div class="erweima"></div>
		<ul class="company-link">
			<li class="word"><a href=""></a></li>
			<li class="segmentation">|</li>
			<li class="word"><a href=""></a></li>
			<li class="segmentation">|</li>
			<li class="word"><a href=""></a></li>
			<li class="segmentation">|</li>
			<li class="word"><a href=""></a></li>
			<li class="segmentation">|</li>
			<li class="word"><a href=""></a></li>
			<li class="segmentation">|</li>
			<li class="word"><a href=""></a></li>
			<li class="segmentation">|</li>
			<li class="word"><a href=""></a></li>
			<li class="segmentation">|</li>
		</ul>
		<div class="z"></div>
	</div> -->
{template "content","myfooter"}