{template "content","myheader"}

<!-- 轮播图 -->
	<div id="banner">
		<div class="box">
			<div id="Ban_top">
	        	<ul>
	            	<li><img src="{IMG_PATH}myimg/20131224135904.jpg"></li>
	                <li style="display:none;"><img src="{IMG_PATH}myimg/20131224113507.jpg"></li>
	                <li style="display:none"><img src="{IMG_PATH}myimg/20131224113522.jpg"></li>
	            </ul>
        	</div>
        	<div id="Ban_li">
        	<ul>
            	<li class="Ban_li"></li>
                <li class=""></li>
                <li class=""></li>
            </ul>
        </div>
		</div>
	</div>
<!--展示区  -->
	<div id="introduce">
		<div class="box">
			<ul class="int">
				{pc:content action="category" num="1"}
				{loop $data $v}
				<li class="by1"><a href="{$CATEGORYS[11][url]}"></a></li>
				<li class="by2"><a href="{$CATEGORYS[12][url]}"></a></li>
				<li class="by3"><a href="{$CATEGORYS[16][url]}"></a></li>
				{/loop}
				{/pc}
			</ul>
		</div>
	</div>

{template "content","myfooter"}