{template "content","myheader"}
<link rel="stylesheet" href="{CSS_PATH}mycss/service.css">
<!-- main -->
<div id="main">
	<div class="ab-banner">
		<div class="zy-banner"></div>
	</div>
	<div class="box contaninor">
	
	<div class="body-left">
		<ul>      	
			<li><a href="index.php?p=danyeshow&amp;id=90&amp;lanmu=68">服务专区</a>
			</li>
		</ul>
	</div>
	<div class="body-right">
		<div class="title">
        	<span>服务专区<em>SERVICE</em></span>
            <em><a href="index.php">首页</a> &gt; 服务专区</em>
        </div>
		<div class="danye_show">资料更新中...<br>
		</div>
	</div>
	</div>
</div>
<!--展示区  -->

<!-- 网页底部 -->
	<!-- <div id="footer">
		<div class="erweima"></div>
		<ul class="company-link">
			<li class="word"><a href=""></a></li>
			<li class="segmentation">|</li>
			<li class="word"><a href=""></a></li>
			<li class="segmentation">|</li>
			<li class="word"><a href=""></a></li>
			<li class="segmentation">|</li>
			<li class="word"><a href=""></a></li>
			<li class="segmentation">|</li>
			<li class="word"><a href=""></a></li>
			<li class="segmentation">|</li>
			<li class="word"><a href=""></a></li>
			<li class="segmentation">|</li>
			<li class="word"><a href=""></a></li>
			<li class="segmentation">|</li>
		</ul>
		<div class="z"></div>
	</div> -->
{template "content","myfooter"}