{template "content","myheader"}
<link rel="stylesheet" href="{CSS_PATH}mycss/contact.css">

<div id="main">
	<div class="ab-banner">
		<div class="zy-banner"></div>
	</div>
	<div class="box contaninor">
		<div class="body-left">
			<ul>

				<li><a href="index.php?p=gbook">在线留言</a></li>

			</ul>
		</div>
		<div class="body-right">
			<div class="title">
				<span>联系我们<em>CONTACT</em></span>
				<em><a href="index.php">首页</a> &gt; 联系我们</em>
			</div>

			<div class="danye_show"><p>
				<span style="font-size:16px;line-height:2;">广州欢腾鞋业有限公司</span>
			</p>
				<p>
					<span style="line-height:2;">地址：广州市白云区德康路10-12号B座801房</span>
				</p>
				<p>
					<span style="line-height:2;">联系人：马总</span>
				</p>
				<p>
					<span style="line-height:2;">联系电话：18734563166&nbsp; 400-6505-778</span>
				</p>
				<iframe id="mapbarframe" border="0" vspace="0" hspace="0" marginwidth="0" marginheight="0" framespacing="0" frameborder="0" scrolling="no" width="700" height="400">
				</iframe>
				<p>
				<span style="line-height:2;"><br>
				</span>
				</p>
				<p>
					<span style="line-height:2;"><span style="font-size:16px;">山西欢腾贸易有限公司</span><br>
				地址：太原市杏花岭区五龙口街199号汇大国际<br>
				联系人：马总<br>
				联系电话：18734563166&nbsp; 2727866 &nbsp; 2727877</span>
				</p>
				<p>
					<span style="line-height:2;">传真：4387220<br>
				</span>
				</p>
				<iframe id="mapbarframe" border="0" vspace="0" hspace="0" marginwidth="0" marginheight="0" framespacing="0" frameborder="0" scrolling="no" width="700" height="400" src="http://searchbox.mapbar.com/publish/template/template1010/index.jsp?CID=lihuanli&amp;tid=tid1010&amp;showSearchDiv=1&amp;cityName=%E5%A4%AA%E5%8E%9F%E5%B8%82&amp;nid=MAPBXNJBLMTPYVXRHBX&amp;width=700&amp;height=400&amp;infopoi=2&amp;zoom=10&amp;control=1">
				</iframe>
			</div>
		</div>
		</div>

</div>
{template "content","myfooter"}