	<div id="copyright_w">
	    <div class="box" id="copyright">
	    <table border="0" width="82%">
		<tbody>
			<tr>
				<td width="45">
					<img alt="" src="{IMG_PATH}myimg/20131224033743_76840.jpg">
				</td>
				<td width="44">
					<img alt="" src="{IMG_PATH}myimg/20131224033546_71751.jpg"> 
				</td>
				<td width="51">
					<br>
				</td>
				<td width="634">
				<p>
					<a href="{$CATEGORYS[10][url]}"><span style="color:#666666;">首页</span></a>
					<span style="color:#666666;"> | </span>
					<a href="{$CATEGORYS[11][url]}">
						<span style="color:#666666;">品牌介绍</span>
					</a>
					<span style="color:#666666;">| </span>
					<a href="{$CATEGORYS[12][url]}">
						<span style="color:#666666;">新闻动态</span>
					</a>
					<span style="color:#666666;">| </span>

					<a href="{$CATEGORYS[13][url]}">
						<span style="color:#666666;">产品展示</span></a>
					<span style="color:#666666;"> | </span>
					<a href="{$CATEGORYS[14][url]}">
						<span style="color:#666666;">服务专区</span></a>
					<span style="color:#666666;">| </span>
					<a href="{$CATEGORYS[15][url]}">
						<span style="color:#666666;">在线留言</span></a>
					<span style="color:#666666;">| </span>
					<a href="{$CATEGORYS[16][url]}">
						<span style="color:#666666;">联系我们</span></a>
				</p>
				{pc:content action="lists" catid="17" moreinfo="1"}
				{loop $data $s}
				<p style="margin-right: 10px;">
					<span>版权所有：{$s[copyright]}</span>
					<span>备案号：{$s[beian]}</span>

					<span>手机：{$s[phone]}</span>
					<span>固话：{$s[tel]}</span>
				</p>
				{/loop}
				{/pc}
				</td>
				<!--<td width="634">-->
					<!--<p align="left">-->
					<!--{pc:content action="lists" catid="26" moreinfo="1"}-->
					<!--&lt;!&ndash;{pc:content action="lists" catid="26" moreinfo="1"}&ndash;&gt;-->
					<!--{loop $data $v}-->
						<!--<span>-->
							<!--<a href="{$CATEGORYS[10][url]}"><span style="color:#666666;">{$v[index]}</span></a>-->
							<!--<span style="color:#666666;"> | </span>-->
							<!--<a href="{$CATEGORYS[11][url]}">-->
							<!--<span style="color:#666666;">{$v[about]}</span>-->
							<!--</a>-->
							<!--<a href="{$CATEGORYS[12][url]}">-->
							<!--</a>-->
							<!--<span style="color:#666666;">| </span>-->
							<!--<a href="{$CATEGORYS[13][url]}">-->
							<!--<span style="color:#666666;">{$v[news]}</span>-->
							<!--</a><span style="color:#666666;"> |</span> -->
							<!--<a href="{$CATEGORYS[14][url]}">-->
							<!--<span style="color:#666666;">{$v[product]}</span></a>-->
							<!--<span style="color:#666666;"> | </span>-->
							<!--<a href="{$CATEGORYS[15][url]}">-->
							<!--<span style="color:#666666;">{$v[service]}服务专区</span></a>-->
							<!--<a href=""> </a>-->
							<!--<span style="color:#666666;">| </span>-->
							<!--<span></span>-->
							<!--<a href="{$CATEGORYS[16][url]}"><span style="color:#666666;">{$v[message]}在线留言</span>-->
							<!--</a>-->
							<!--<a href=""><span></span>-->
							<!--</a>-->
							<!--<span style="color:#666666;">| </span>-->
							<!--<a href="">-->
							<!--<span style="color:#666666;">{$v[contact]}</span></a>-->
						<!--</span> -->
					<!--</p>-->
					<!--<p align="left">-->
						<!--<span style="color:#666666;">版权所有：{$v[cright]} </span>-->
						<!--<a href="" target="_blank">-->
							<!--<span style="color:#666666;">备案号：{$v[beian]}</span>-->
						<!--</a>-->
						<!--<span style="color:#666666;">手机： {$v[phone]}&nbsp; 固话：{$v[tel]}</span>-->
					<!--</p>-->
				<!--</td>-->
				<td>
					<img alt="" src="{IMG_PATH}myimg/20131224055204_55041.png"><br>
				</td>
			</tr>
		</tbody>
		</table>
		{/loop}
		{/pc}
    </div>
</div>
</div>
</body>
</html>